{% extends "base.html" %}

{% block title %}HOD Dashboard{% endblock %}

{% block content %}
<div class="card border-success mb-3">
    <div class="card-header bg-success text-white">HOD Area</div>
    <div class="card-body text-success">
        <h5 class="card-title">Department Management</h5>
        <p class="card-text">Oversee department activities and staff.</p>
    </div>
    <div class="card-footer bg-transparent border-0">
        <a href="{% url 'dashboard:hod_taskforce_list' %}" class="btn btn-sm btn-light w-100 stretched-link">View
            Details</a>
    </div>
</div>
{% endblock %}